.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 10px 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}