.wrapper {
    position: relative;
    width: 100%;
}

.leftNavigation,
.rightNavigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
}

.leftNavigation {
    left: 0;
}

.rightNavigation {
    right: 0;
}

.leftNavigation button,
.rightNavigation button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

:global(.swiper-slide) {
    width: auto !important;
}