.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.title {
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.toggleText {
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.cardsWrapper {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2rem 0;
}

.wrapper {
    margin: 1rem 0;
}

.tab {
    color: var(--color-white) !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    text-transform: none !important;
}